.idea
*.pyc
__pycache__
data/
app/models/
app/static/node_modules/
app/static/bower_components/
app/static/images/
app/static/package-lock.json
jupyter/
proj/sql.py
scrapy/nobel_winners/.scrapy/
.ipynb_checkpoints/
app/static/src/assets/web-animations-js-dev/test/web-platform-tests/
