.idea
*.pyc
__pycache__
firebase_config.py
data/
app/models/
app/static/node_modules/
app/static/bower_components/
app/static/images/
app/static/package-lock.json
jupyter/
app/models/sql.py
scrapy/nobel_winners/.scrapy/
.ipynb_checkpoints/
app/static/src/assets/web-animations-js-dev/test/web-platform-tests/
app/static/src/app/app-firebase.config.ts
/app/static/src/app/app-firebase.config.ts
/firebase_config.py
