#chart-holder{
    /* margin: auto; */
    /* margin-top:40px; */
    min-height:750px;
}

#chart-holder svg{
    width:100%;
    height:100%;
}

#nobel-time{
  background: #eaeacc;
  min-height:160px;
}

#nobel-map{
    height:600px;
}

#nobel-winner{
    min-height:350px;
}

#nobel-bar{
    min-height:350px;
}


#nobel-list{
    height:350px;
}
/* MAP */

.graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .5;
}

.land {
    /*fill: #b8c8b6;*/
    fill: #ddd;
}

.country{
    fill: rgb(175, 195, 186);
}

.country.active{
    fill: rgb(155, 175, 166);
}

.centroid{
    fill: red;
    fill-opacity:0.3;
    pointer-events:none;
}

.centroid.active {
    fill:goldenrod;
    fill-opacity:0.6;
}

.boundary {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
}

/* BAR-CHART */
.bar.active { fill:goldenrod !important;}
.bar { fill: steelblue; }
.bar:hover { fill: brown; }

.axis { font: 10px sans-serif; }

.axis-label{ }

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path { display: none; }
#y-axis-label { font-size: 11px }
/* YEAR CHART */

.labels text { font-size:11px; }


/* WINNERS LIST */
#nobel-list{
    overflow:scroll;
    overflow-x:hidden;
}

#nobel-list table{ font-size:10px; }

#nobel-list table th#year {width:30px}
#nobel-list table th#category {width:120px}
#nobel-list table th#name {width:120px}
#nobel-list h2 {font-size:14px; margin:4px; text-align:center}
#nobel-list tr:hover{
    cursor: pointer;
    background:lightblue;
}
#nobel-list tr { opacity: 1}

/* WINNER INFOBOX */
#nobel-winner {
    font-size:11px;
    overflow:auto;
    overflow-x:hidden;
    padding-right:25px;
}

#nobel-winner #winner-title{
    font-size:12px;
    text-align:center;
    padding:2px;
    font-weight:bold;
}

#nobel-winner #infobox .label {
    display:inline-block;
    width:60px;
    font-weight:bold;
}

#nobel-winner #biobox{font-size:11px;}
#nobel-winner #biobox p{
    text-align:justify;
}
#nobel-winner #picbox{
    /* position:absolute; */
    /* top:2px; right:2px; */
    float:right;
    margin-left:5px;
}

#nobel-winner #picbox img{
    width:100px;
}

#nobel-winner #readmore{
    font-weight:bold;
    text-align:center;
}

/* MAP TOOLTIP */
#map-tooltip {
    position: absolute;
    /* min-width: 10px; */
    /* min-height: 10px; */
    pointer-events:none;
    color:#eee;
    font-size:12px;
    /* border:10px; */
    opacity:0.7;
    background:#222;
    border:2px solid #555;
    border-color: goldenrod;
    padding:10px;
    left: -999px;
}

#map-tooltip h2 {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

/* TIME-LINE */
#nobel-time circle{
    stroke-width:0;
    stroke:black;
}

