<!-- BEGIN NOBEL-VIZ COMPONENTS -->

<div id='chart-holder' class="_dev ui grid">
    <div  id="nobel-time" class="sixteen wide column">
    </div>
  <div id="nobel-map" class="ten wide column">
   <div id="map-tooltip">
            <h2></h2>
            <p></p>
        </div>
  </div>

  <div id="nobel-list" class="six wide column">
      <h2>Selected winners</h2>
        <table>
            <thead>
            <tr>
                <th id='year'>Year</th>
                <th id='category'>Category</th>
                <th id='name'>Name</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
  </div>

  <div id="nobel-winner" class="eight wide column">
           <div id="picbox"><img/></div>
        <div id='winner-title'></div>
        <div id='infobox'>
            <div class='property'>
                <div class='label'>Category</div>
                <span name='category'></span>
            </div>
            <div class='property'>
                <div class='label'>Year</div>
                <span name='year'></span>
            </div>
            <div class='property'>
                <div class='label'>Country</div>
                <span name='country'></span>
            </div>
        </div>
        <div id='biobox'></div>
        <div id='readmore'><a href='#'>Read more at Wikipedia</a></div>
  </div>
  <div id="nobel-bar" class="eight wide column"></div>
</div>

<!-- END NOBEL-VIZ COMPONENTS -->
