<!-- サイドバーメニュー -->
<div class="ui sidebar inverted vertical menu"  style="z-index:200;">
    <a class="item" routerLink="/"><i class="home icon"></i>Home</a>
     <a class="item" routerLink="core"><i class="diamond icon"></i>Core</a>
    <h4 class="item"><i class="film icon"></i>Films</h4>
    <a class="item" routerLink="docu">Documentaries(Wiki/En)</a>
    <a class="item" routerLink="docu_jap_wiki">Documentaries(Wiki/Japan)</a>
    <a class="item" routerLink="docufeslist">Documentary Festivals(Wiki)</a>
    <a class="item" routerLink="yidff">YIDFF</a>
    <a class="item" routerLink="idfa">IDFA</a>
    <h4 class="item"><i class="rocket icon"></i>Pitches&Plans</h4>
    <h4 class="item"><i class="trophy icon"></i>Award&Festval</h4>
    <a class="item" routerLink="main">Nobel Laureates</a>
    <h4 class="item"><i class="send outline icon"></i>Docu-Memento</h4>
</div>


<div class="pusher" style="position:relative;">

    <!-- トップバー -->
    <div class="ui inverted vertical masthead aligned segment" style="padding:0;">
        <div class="ui large secondary inverted pointing menu">
            <a id="js-sidebar" class="toc item">
                <i class="sidebar icon"></i>
            </a>
            <div class="right item" style="width:160px;">
                <img src="/static/src/assets/img/nocracy_logo.png" routerLink="/" style="width:200px;padding:0;margin:0;cursor:pointer;">
            </div>
        </div>
    </div>

    <!-- main body -->
    <router-outlet></router-outlet>

    <!-- フッター -->
    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">About</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Sitemap</a>
                        <a href="#" class="item">Contact Us</a>
                        <a href="#" class="item">Religious Ceremonies</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Services</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">FAQ</a>
                        <a href="#" class="item">How To Access</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Footer Header</h4>
                    <p>"Science without religion is lame, religion without science is blind." <br>
                        -  Albert Einstein</p>
                </div>
            </div>
        </div>
    </div>

</div>
