<app-menu #menu (onvoted)="d3.onvoted($event)"></app-menu>
<h3>{{sitetitle}}</h3>

      <!-- BEGIN NOBEL-VIZ COMPONENTS -->
      <div id='chart-holder' class='_dev'>
        <div id="nobel-time"></div>
        <div id="nobel-map">
          <div id="map-tooltip">
            <h2></h2>
            <p></p>
          </div>
        </div>
        <div id="nobel-list">
          <h2>Selected winners</h2>
          <table>
            <thead>
              <tr>
                <th id='year'>Year</th>
                <th id='category'>Category</th>
                <th id='name'>Name</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        <div id="nobel-winner">
          <div id="picbox"><img /></div>
          <div id='winner-title'></div>
          <div id='infobox'>
            <div class='property'>
              <div class='label'>Category</div>
              <span name='category'></span>
            </div>
            <div class='property'>
              <div class='label'>Year</div>
              <span name='year'></span>
            </div>
            <div class='property'>
              <div class='label'>Country</div>
              <span name='country'></span>
            </div>
          </div>
          <div id='biobox'></div>
          <div id='readmore'><a href='#'>Read more at Wikipedia</a></div>
        </div>
        <div id="nobel-bar"></div>
      </div>
      <!-- END NOBEL-VIZ COMPONENTS -->

<app-d3 #d3></app-d3>
