# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = docu_from_wiki.settings

[deploy]
#url = http://localhost:6800/
project = docu_from_wiki
