/* loader */


body{

}

#loader {
  z-index: 10;
  color: white;
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(57, 50, 235);
  text-align: center;
}

#loader img.logo {
  height: 80px;
  padding: 0;
  margin-top: 400px;
}

/*ui menu */

.ui.menu {
  border-radius: 0;
  margin: 0;
}

.ui.menu .header img.logo {
  width: 200px;
  padding: 0;
  margin: 0;
}



/* D3 */
.node {stroke: #fff; stroke-width: 1.5px;}
.links line{
  stroke: #fff;
}

g.links > line{
  stroke: white !important;
}

#d3-container{
  text-align:center;
   background-color:#222;
}


div.visualization {
  display: block;
  background-color: white;
  width: intrinsic;
  width: -moz-max-content;
  width: -webkit-max-content;
  max-width: 100%;
  margin: 0px auto 0px auto;
  overflow-x: auto;
}


.ui.slider.checkbox input:checked ~ label{
  color:white !important;
}
